@font-face
  font-family: 'Druk Wide'
  font-weight: 400
  font-style: normal
  font-display: swap
  src: url("../fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf") format('truetype')
@font-face
  font-family: 'Druk Wide'
  font-weight: 600
  font-style: normal
  font-display: swap
  src: url("../fonts/Druk Wide Cy Web Bold Regular.ttf") format('truetype')

.new-container
  position: relative
  margin: 0 auto
  padding: 0 40px
  max-width: 1630px
.title
    font-family: 'Druk Wide'
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 120%
.text
    font-family: 'Exo 2'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 140%

@media screen and (max-width: 1630px)
  .new-container
    max-width: 1280px
  .text
    font-size: 16px
  .title
    font-size: 32px

@media screen and (max-width: 1280px)
  .new-container
    max-width: 1248px

@media screen and (max-width: 960px)
  .new-container
    max-width: 880px
  .text
    font-size: 14px
  .title
    font-size: 30px

@media screen and (max-width: 720px)
  .new-container
    padding: 0 24px

@media screen and (max-width: 425px)
  .new-container
    padding: 0 16px

@import 'winners'
@import 'letter'
@import 'modal'